
#Projetos{
    padding: 23px 10%;
   background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    background-image: url('/img/projetosBack1.png');
}

.headerProjeto{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 20rem;

}

.cardsContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.descProjeto{
    color: #ccccccad;
    margin-bottom: 5%;
    font-size: 10pt;

}

.btnCard{
    padding: 7px 14px;
    border: none;
    outline: none;
    border-radius: 3px;
    font-weight: 600;
    color: #fff;
    background-color: rgb(0, 193, 106);
    font-size: 11.3pt;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.021) ;
    cursor: pointer;
    transition: background-color  .2s ease;
    display: flex;
    align-items: center;
    justify-content: center;  
}

.card{
    transition: transform 0.2s ease-in-out;
}

.card:hover{  
  transform: scale(1.08);  
}





.imgCard img{
    width:100%;
    height: 100%;
}

.titleProjeto{
    font-size: 45pt;
    color: #fff;
}
